/* Login.uss */
.container {
    width: 320px;
    padding: 20px;
    margin: 50px auto;
    flex-direction: column;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.title {
    font-size: 26px;
    margin-bottom: 15px;
    unity-text-align: middle-center;
}

.status {
    margin-top: 10px;
    color: red;
}